<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigue a tu Funcionario</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}md/material.grey-orange.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}md/styles.css">
    <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/app.css">

  </head>
  <body>
    <div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
      {% if user and user.is_anonymous %}                       
      <div class="android-wear-band">
        <div class="android-wear-band-text">
          <br>
          <p>            
            <a href="{% url 'social:begin' 'facebook' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  entra-facebook ">
              Entrar con Facebook
            </a>
            <a href="{% url 'social:begin' 'twitter' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  entra-twitter ">
              Entrar con Twitter
            </a>   
            
          </p>
        </div>
      </div>
      {% endif %}                 
      <main class="mdl-layout__content">
        <div class="demo-back">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/" title="go back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
          </a>
        </div>
        <div class="demo-blog__posts mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50" style="position:relative;">              
              <img src="{{MEDIA_URL}}{{funcionario.fotografia}}"  class="avatar">            

              <h3 style="padding:10px;margin-left: auto; margin-right: auto;">{{funcionario.nombre}}</h3>
            </div>

            
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta" style="padding: 0px;min-height:1px;">
              <!--<div class="section-spacer"></div>
              <div class="meta__favorites">
                0 <i class="material-icons" role="presentation">thumb_up</i>                
              </div>
              <div class="meta__favorites">
                0 <i class="material-icons" role="presentation">thumb_down</i>
                <span class="visuallyhidden">bookmark</span>
              </div>-->
            </div>
            
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
          
                <strong>{{funcionario.dependencia}}</strong>
                <span><span class="negrita">Puesto:</span> {{funcionario.puesto}}</span>
                <span><span class="negrita">Domicilio:</span> {{funcionario.domicilio}}</span>
                <span><span class="negrita">Teléfono(s):</span> {{funcionario.telefonos}}</span>
                <span><span class="negrita">Correo electrónico:</span> {{funcionario.correo}}</span>            
                <div class="demo-blog__posts mdl-grid">
                    {% for entry in tareas %}                
                    <div class="mdl-card mdl-cell mdl-cell--12-col  mdl-shadow--2dp "  style="min-height:0px;">
                      <div class="mdl-card__supporting-text" style="background-color: #ECECEC;">
                        <h5 class="titulo-card">{{ forloop.counter }}. {{entry.tarea.meta}}</h5>
                      </div>

                      <div class="mdl-card__supporting-text">
                        {% if entry.tarea.estado.id == 1 %}  
                        <i class="material-icons" >alarm</i> 
                        {% else %}
                        <i class="material-icons" >done</i> 
                        {% endif %}
                        
                        {{entry.tarea.estado}}                          
                      </div>

                      {% if entry.tarea.resultado %}
                      <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                        <span class="negrita">Resultados:</span> {{entry.tarea.resultado}}            
                      </div>                      
                      <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                      {% if entry.tarea.imagen %}
                        <img src="{{MEDIA_URL}}{{entry.tarea.imagen}}" style="width:300px;">                         
                      {% endif %}                                
                      </div>
                      {% endif %}                      

                      <div class="meta mdl-card__supporting-text mdl-color-text--grey-600" style="font-size: 13px;">
                        <a href="/denuncias/{{entry.tarea.id}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                          Denuncias
                        </a>      
                        <span>Se han recibido {{entry.denuncias}} denuncias</span>
                        <div class="section-spacer"></div>                
                        {% if user and not user.is_anonymous %}    

                        {% if entry.like != None %}                     
                        {% if entry.like == True %}              
                        <span class="texto-megusta" id="cuantomegusta{{entry.tarea.id}}">{{entry.megusta}}</span> <button class="megusta_tarea like-azul right" like="1" idtarea="{{entry.tarea.id}}" id="megusta{{entry.tarea.id}}" ><i class="material-icons">thumb_up</i>  </button>                           
                        <span class="texto-megusta" id="cuantonomegusta{{entry.tarea.id}}">{{entry.nomegusta}}</span> <button class="megusta_tarea dislike right" like="0" idtarea="{{entry.tarea.id}}" id="nomegusta{{entry.tarea.id}}" ><i class="material-icons">thumb_down</i>  </button>                  
                        {% else %}                        
                        <span class="texto-megusta" id="cuantomegusta{{entry.tarea.id}}">{{entry.megusta}}</span> <button class="megusta_tarea like right" like="1" idtarea="{{entry.tarea.id}}" id="megusta{{entry.tarea.id}}" ><i class="material-icons">thumb_up</i></button>                        
                        <span class="texto-megusta" id="cuantonomegusta{{entry.tarea.id}}">{{entry.nomegusta}}</span> <button class="megusta_tarea dislike-rojo right" like="0" idtarea="{{entry.tarea.id}}" id="nomegusta{{entry.tarea.id}}" ><i class="material-icons">thumb_down</i> </button> 
                        {% endif %}
                        {% else%}            
                        <span class="texto-megusta" id="cuantomegusta{{entry.tarea.id}}">{{entry.megusta}}</span> <button class="megusta_tarea like right" like="1" idtarea="{{entry.tarea.id}}" id="megusta{{entry.tarea.id}}"><i class="material-icons">thumb_up</i></button>                        
                        <span class="texto-megusta" id="cuantonomegusta{{entry.tarea.id}}">{{entry.nomegusta}}</span> <button class="megusta_tarea dislike right" like="0" idtarea="{{entry.tarea.id}}" id="nomegusta{{entry.tarea.id}}"><i class="material-icons">thumb_down</i></i>  </button>     
                        {% endif %}

                        {% else %}   
                        <span class="texto-megusta">{{entry.megusta}}</span> <button class="like right" onclick="javascript:alert('Identificate!!');"><i class="material-icons">thumb_up</i> </button>
                        <span class="texto-megusta">{{entry.nomegusta}}</span> <button class="dislike right" onclick="javascript:alert('Identificate!!');"><i class="material-icons">thumb_down</i></button>          
                        
                        {% endif %}                          
                      </div>
                         
                    </div>                                           
                  
                    {% endfor %}
                    </div>
            </div>
            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">

            </div>
          </div>


        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
              <span class="visuallyhidden">Twitter</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
              <span class="visuallyhidden">Facebook</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
              <span class="visuallyhidden">Google Plus</span>
            </button>
          </div>

        </footer>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="{{STATIC_URL}}md/material.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{STATIC_URL}}javascripts/likes_tarea.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}javascripts/script.js" type="text/javascript"></script>
  </body>
</html>
