<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigue a tu Funcionario</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{STATIC_URL}}md/material.grey-orange.min.css">
    <!--<link rel="stylesheet" href="material.min.css">-->
    <link rel="stylesheet" href="{{STATIC_URL}}md/styles.css">
    <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/app.css">
  </head>
  <body>


    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <div class="android-wear-band">
        <div class="android-wear-band-text">
          <div class="mdl-typography--display-2 mdl-typography--font-thin">Sigue a tu funcionario</div>
          <p class="mdl-typography--headline mdl-typography--font-thin">
            Ve las actividades que realiza.
            Evalua a los funcionarios.
            Si tienes alguna denuncia agregala a su perfil.
          </p>
          <p>
            {% if user and not user.is_anonymous %}
            <img src="{{user.profile.photo}}" class="img-profile" > <span class="name-profile">{{ user.get_full_name }}</span> <a href="/logout" class="button radius small">Salir</a>
            {% else %}          
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  entra-facebook ">
              Entrar con Facebook
            </a>
            <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  entra-twitter ">
              Entrar con Twitter
            </a>   
            {% endif %}            
          </p>
        </div>
      </div>    
      <main class="mdl-layout__content">        
        <div class="demo-blog__posts mdl-grid">
          {% for item in funcionarios %}  
          <!-- Card -->          
          <div class="mdl-card mdl-cell mdl-cell--4-col">
            <div >
              <h2 class="mdl-card__title-text">{{item.funcionario.nombre}}</h2>
            </div>            
            <div class="mdl-card__media">
              <img src='{{MEDIA_URL}}{{item.funcionario.fotografia}}' class="img-funcionario" />
            </div>
            
            
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600" style="min-height: 100px;">              
              <div> 
                <span>{{item.funcionario.dependencia}}</span>
                <span>{{item.funcionario.puesto}}</span>                
              </div>                   
            </div>
            <a href="ficha/{{item.funcionario.id}}" class="mdl-button mdl-js-button " style="width:100%;">Ver Perfil</a>
            <div class="mdl-card__actions mdl-card--border"> 

              {% if user and not user.is_anonymous %}    

              {% if item.like != None %}                     
              {% if item.like == True %}                            
              <button class="megusta like-azul right" like="1" idfuncionario="{{item.funcionario.id}}" id="megusta{{item.funcionario.id}}" ><i class="material-icons">thumb_up</i> <span class="texto-megusta" id="cuantomegusta{{item.funcionario.id}}">{{item.megusta}}</span> </button>
              <button class="megusta dislike right" like="0" idfuncionario="{{item.funcionario.id}}" id="nomegusta{{item.funcionario.id}}" ><i class="material-icons">thumb_down</i> <span class="texto-megusta" id="cuantonomegusta{{item.funcionario.id}}">{{item.nomegusta}}</span> </button>                                   
              {% else %}                        
              <button class="megusta like right" like="1" idfuncionario="{{item.funcionario.id}}" id="megusta{{item.funcionario.id}}" ><i class="material-icons">thumb_up</i> <span class="texto-megusta" id="cuantomegusta{{item.funcionario.id}}">{{item.megusta}}</span></button>
              <button class="megusta dislike-rojo right" like="0" idfuncionario="{{item.funcionario.id}}" id="nomegusta{{item.funcionario.id}}" ><i class="material-icons">thumb_down</i> <span class="texto-megusta" id="cuantonomegusta{{item.funcionario.id}}">{{item.nomegusta}}</span> </button>              
              {% endif %}
              {% else%}                    
              <button class="megusta like right" like="1" idfuncionario="{{item.funcionario.id}}" id="megusta{{item.funcionario.id}}"><i class="material-icons">thumb_up</i> <span class="texto-megusta" id="cuantomegusta{{item.funcionario.id}}">{{item.megusta}}</span> </button>
              <button class="megusta dislike right" like="0" idfuncionario="{{item.funcionario.id}}" id="nomegusta{{item.funcionario.id}}"><i class="material-icons">thumb_down</i></i> <span class="texto-megusta" id="cuantonomegusta{{item.funcionario.id}}">{{item.nomegusta}}</span> </button>                
              {% endif %}

              {% else %}         
              <button class="like right" onclick="javascript:alert('Identificate!!');"><span class="texto-megusta">{{item.megusta}}</span> <i class="material-icons">thumb_up</i> </button>
              <button class="dislike right" onclick="javascript:alert('Identificate!!');"><span class="texto-megusta">{{item.nomegusta}}</span> <i class="material-icons">thumb_down</i></button>                  
              {% endif %}  

            </div>            
          </div>
          {% endfor %}

        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
              <span class="visuallyhidden">Twitter</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
              <span class="visuallyhidden">Facebook</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
              <span class="visuallyhidden">Google Plus</span>
            </button>
          </div>
        </footer>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    
    <script src="{{STATIC_URL}}md/material.min.js"></script>
    <script src="{{STATIC_URL}}javascripts/likes.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}javascripts/script.js" type="text/javascript"></script>
  </body>


</html>
