<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Sigue tu funcionario</title>
  

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/foundation.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/main.css">
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/app.css">
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/foundation-icons.css">


  <script src="{{STATIC_URL}}javascripts/modernizr.foundation.js"></script>

  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>


    <div class="twelve columns header_nav_fullwidth">

      <h1 class="titulo"> <img src="https://cdn4.iconfinder.com/data/icons/flat-color-icons/504/fine_print-64.png" alt=""> Sigue tu Funcionario</h1>
      <div class="two columns">
      </div>  


      <div class="eight columns">

      </div>

      <div class="three columns text-right">
        <p>          

          {% if user and not user.is_anonymous %}
            <img src="{{user.profile.photo}}" class="img-profile" > <span class="name-profile">{{ user.get_full_name }}</span> <a href="/logout" class="button radius small">Salir</a>
          {% else %}
            <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="button radius small">Entrar con Twitter</a>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="button radius small">Entrar con Facebook</a>       
          {% endif %}   
        </p>
      </div>

    </div>

    <!-- END Header -->

    <div style="clear: both"></div>

    <!-- page wrap -->
    <div class="twelve columns">
      <!-- page wrap -->


      <div id="container">      
      {% for item in funcionarios %}  
       <!-- photo -->
       <div class='box photo col2'>
        <a href="#"><img src='{{MEDIA_URL}}{{item.funcionario.fotografia}}' class="img-funcionario" /></a>
        
        <div class="dependencia">{{item.funcionario.dependencia}}</div>      
        <p>{{item.funcionario.nombre}}</p>  
        {% if user and not user.is_anonymous %}    

          {% if item.like != None %}                     
            {% if item.like == True %}              
              <button class="megusta dislike right" like="0" idfuncionario="{{item.funcionario.id}}" id="nomegusta{{item.funcionario.id}}" ><i class="fi-dislike"></i> <span class="texto-megusta" id="cuantonomegusta{{item.funcionario.id}}">{{item.nomegusta}}</span> </button>
              <button class="megusta like-azul right" like="1" idfuncionario="{{item.funcionario.id}}" id="megusta{{item.funcionario.id}}" ><i class="fi-like "></i> <span class="texto-megusta" id="cuantomegusta{{item.funcionario.id}}">{{item.megusta}}</span> </button>                     
            {% else %}                        
              <button class="megusta dislike-rojo right" like="0" idfuncionario="{{item.funcionario.id}}" id="nomegusta{{item.funcionario.id}}" ><i class="fi-dislike"></i> <span class="texto-megusta" id="cuantonomegusta{{item.funcionario.id}}">{{item.nomegusta}}</span> </button>
              <button class="megusta like right" like="1" idfuncionario="{{item.funcionario.id}}" id="megusta{{item.funcionario.id}}" ><i class="fi-like"></i> <span class="texto-megusta" id="cuantomegusta{{item.funcionario.id}}">{{item.megusta}}</span></button>
            {% endif %}
          {% else%}            
            <button class="megusta dislike right" like="0" idfuncionario="{{item.funcionario.id}}" id="nomegusta{{item.funcionario.id}}"><i class="fi-dislike"></i> <span class="texto-megusta" id="cuantonomegusta{{item.funcionario.id}}">{{item.nomegusta}}</span> </button>          
            <button class="megusta like right" like="1" idfuncionario="{{item.funcionario.id}}" id="megusta{{item.funcionario.id}}"><i class="fi-like"></i> <span class="texto-megusta" id="cuantomegusta{{item.funcionario.id}}">{{item.megusta}}</span> </button>
          {% endif %}

        {% else %}
          <button class="dislike right" onclick="javascript:alert('Identificate!!');"   ><i class="fi-dislike"></i> <span class="texto-megusta">{{item.nomegusta}}</span> </button>          
          <button class="like right" onclick="javascript:alert('Identificate!!');"   ><i class="fi-like"></i> <span class="texto-megusta">{{item.megusta}}</span> </button>
        {% endif %}                  
       
      </div>     
      {% endfor %}

    </div> <!-- end Masonry container -->

    <div class="twelve columns">
      <ul id="menu3" class="footer_menu horizontal">

     </ul>
   </div>

  </div>
  <!-- end page wrap) -->
  <!-- Included JS Files (Compressed) -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{{STATIC_URL}}javascripts/foundation.min.js" type="text/javascript">
  </script>

  <!-- Initialize JS Plugins -->  
  <script src="{{STATIC_URL}}javascripts/app.js" type="text/javascript">
  </script>
  <script src="{{STATIC_URL}}javascripts/likes.js" type="text/javascript">
  </script>
  <!-- Masonry for galleries -->
  <script src="{{STATIC_URL}}javascripts/masonry.js" type="text/javascript">
  </script>
  <script type="{{STATIC_URL}}text/javascript">
//<![CDATA[
$(function(){
  var $container = $('#container');
  $container.imagesLoaded( function(){
    $container.masonry({
      itemSelector : '.box',
      isFitWidth: true,
      isAnimated: true
    });
  });
});
  //]]>
</script>
<!-- END Masonry -->
</body>
</html>

<script type="text/javascript">
   if (window.location.hash == '#_=_') {            
      history.replaceState({}, document.title, "/");
   }
</script>