<!-- Denuncias -->
{% for denuncia in denuncias %}
<div class="comment mdl-color-text--grey-700">
  <header class="comment__header">
    <img src="{{denuncia.usuario.profile.photo}}" class="comment__avatar">

    <div class="comment__author">
      <strong>{{denuncia.usuario}}</strong>
      <span>{{denuncia.fecha|date:'d-m-Y H:i'}}</span>
    </div>
  </header>
  <div class="comment__text">{{denuncia}}</div>
</div>
{% endfor %}