/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

.header_nav_fullwidth {
    background: #3379D0;
    padding: 10px 0 2px;
    margin-bottom: 25px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.img-profile{
  width: 19px;
  vertical-align: middle;
}

.name-profile{
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

body{
    background-color: #D4D4D4;	
}

.img-funcionario{
  height: 296px;
  width: 284px;
}

.titulo{
	color: white;
	font-size: 45px;	
	margin-left:15px; 
}
.dependencia{
	font-weight: bold;
	text-align: center;
}


.dislike-rojo
{    
    font-size: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0 none;
    background: none;   
    color:#DE5858;
}

.dislike-rojo:hover
{
    color:#D03D3D;    
    transform:scale(1.1);
}

.like-azul
{
    font-size: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0 none;
    background: none;
    color:#53a7ea;
}

.like-azul:hover
{        
    transform:scale(1.1);
    color: #1665A5;
}

.like
{
    font-size: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0 none;
    background: none;
    color: #9C9C9C;    
} 

.like:hover
{        
    transform:scale(1.1);
    color:#656565;
}

.dislike
{
    font-size: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0 none;
    background: none;   
    color: #9C9C9C;     
}	

.dislike:hover
{
    color:#656565;
    transform:scale(1.1);    
}

.like,.dislike,.like-azul,.dislike-rojo:focus {outline:0;}

.texto-megusta{
  font-size: 12px;  
  vertical-align: middle
}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */
#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
.mdl-badge[data-badge]:after {
  right: -13px;
  background:#aaa !important;
  width: 18px;
  height: 18px;
}    

.mdl-card__title-text {
  font-size: 15px;
  padding: 10px;    
}  

.android-wear-band {
  width: 100%;
  text-align: center;
  background-color: #37474f;
  bottom: 0;  
  color: #fff;
}  



.entra-facebook{
    background-color: #3b5998;
    color: white;
    width: 250px;
}  
.entra-twitter{
    background-color: #55acee;
    color: white;
    width: 250px;
}  

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  /* margin-right: 30px; */
  position: absolute;
  top: 20%;
  left: 43%;     
}    
.negrita{
  font-weight: bold;
}
.titulo-card{
  color: #666;
  text-decoration: none;    
  margin: 0px;      
}
